.container {
    background-color: white;
    padding: 40px;
    color: #2D111C;
}

body {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    max-width: 300px;
    display: block;
    margin: 30px auto;
}

.nav-item {
    text-transform: uppercase;
}

.nav-item,
.nav-link {
    transition: .5s;
}

h1 {
    font-family: 'Bangers', cursive;
    font-size: 2em;
    margin-bottom: 20px;
    color: #031d3b;
    text-align: center;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}

h2, h3 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
}

.link {
    text-decoration: underline;
    color: #530606;
    transition: .5s;
}

.link:hover {
    background-color: #530606;
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
}

.question {
    color: #031d3b;
    margin-top: 20px;
    margin-bottom: 5px;
    font-style: italic;
}

.answer {
    margin-bottom: 20px;
}

#name {
    margin-right: 20px;
}

.email {
    background-color: #b7c8db;
    color: #530606;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: center;
}

label {
    margin-bottom: 0;
    margin-top: 15px;
}

.form-row {
    margin-top: 20px;
}

.form-control {
    margin-top: 5px;
}

.form-check {
    position: relative;
    display: block;
    margin-right: 5px;
    white-space: nowrap;
}

.form-check-label {
    font-size: .9rem;
    padding-right: 1rem;
}

.btn-primary {
    background-color: #530606;
    border-color: #530606;
    transition: .5s;
}

.btn-primary:hover {
    background-color: #031d3b;
    border-color: #031d3b;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 3em;
    }
}